---
# Configuration file for 'dns_infoblox' dhcp provider

# Credentials for Infoblox API, make sure the DNS Role is assigned
:username: "admin"
:password: "infoblox"

# Hostname or IP address of the Infoblox appliance (without https:// or port)
:dns_server: "infoblox.example.com"

# View used for records, usually 'default.myview' for custom names.
#:dns_view: 'default'
