---
name: CI

on:  # yamllint disable-line rule:truthy
  pull_request:
  push:
    branches:
      - master

concurrency:
  group: ${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  rubocop:
    name: Rubocop
    uses: theforeman/actions/.github/workflows/rubocop.yml@v0

  test:
    name: Tests
    needs: rubocop
    uses: theforeman/actions/.github/workflows/smart_proxy_plugin.yml@v0
...
